<h1>Login</h1>
<%= form_tag "/login", method: :post do %>
<div class="right">
    Name: <input type="text" name="email">
  </div>
  <div class="right">
    Email: <input type="email" name="email">
  </div>
  <div class="right">
    Password: <input type="password" name="password">
  </div>
  <input class="right" type="submit" value="Log In">
<% end %>