
<h2>Signup!</h2>
<% if  @user.errors.full_messages.each do |msg| %>
    <%= msg %>
<% end %>
<% end %>
<%= form_tag "/users", method: :post  do %>
 <div > Name: <input type="text" name = "name"></div>
<div class ="right"> Email: <input type="email" name = "email"></div>
<div class ="right"> password: <input type="password" name = "password"></div>
<div class ="right"> password confirmation: <input type="password" name = "passconfirm"></div>
<input class ="right" type="submit" value="signup">
<% end %>
