// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// p {
//   margin-left: 30px;
// }
body { 
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
  background-image: url('pink dust.png');
  color: white;
  padding-top: 40px;
  a {
    color: red;
  }
  a:hover { 
    background-color: white;
}
  input {
    color: black;
  }
  .right {
     margin-right: 50px;
     margin-top: 25px;
  }
   .far_right {
     // margin-right: 20px;
     float: right;
     // margin-top: 25px;
  }
  #navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li:not(:first-child):before {
    content: " | ";
}
.alert {
  margin-top: -35px;
}
}
.red{
  color: red;
}
